body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.navbar {
  background-color: white;
  height: 30px;
  text-align: center;
}
.btn {
  background: none;
  border: none;
  font-family: "Montserrat", "Avenir";
  color: steelblue;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  outline: none;
}
.btn:hover {
  background: steelblue;
  color: white;
}
.square {
  width: 30%;
  margin: 1.66%;
  background-color: blue;
  padding-bottom: 30%;
  float: left;
  border-radius: 15%;
  transition: background 0.6s;
}

.header {
  color: white;
  background-color: steelblue;
  text-align: center;
  font-weight: normal;
  line-height: 1.1;
  padding: 20px 0;
  text-transform: uppercase;
  margin: 0;
}

.selected {
  background-color: steelblue;
  color: white;
}

.hide {
  display: none;
}

.result {
  font-size: 200%;
}

.hint {
  display: inline-block;
  width: 20%;
}
